<div class="container">
	<div class="row">
		<div class="col">
			<h1>Fleet Management System</h1>
		</div>
	</div>
	<div class="row form-group">
		<div class="col" *ngIf="vehicles">
			<fleet-map [vehicles]="vehicles" [(selected)]="SelectedVehicle"></fleet-map>
		</div>
	</div>
	<div class="row">
		<div class="col" *ngIf="vehicles">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Selected: {{ SelectedVehicle?.id }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" *ngFor="let v of vehicles" (click)="SelectedVehicle = v">{{ v.id }}</a>
				</div>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col" *ngIf="SelectedVehicle != null">
            <table class="table table-striped">
                <tr>
                    <td>Car Id</td>
                    <td>Speed</td>
                    <td>RPM</td>
                    <td>Fuel Level</td>
                </tr>
                <tr>
                    <td>{{ SelectedVehicle.id }}</td>
                    <td>{{ SelectedVehicle.speed }}</td>
                    <td>{{ SelectedVehicle.rpm }}</td>
                    <td>{{ SelectedVehicle.gas.toFixed(2) }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
