<div class="container">
	<div class="row">
		<div class="col">
			<h1>Fleet Management System</h1>
		</div>
	</div>
	<div class="row form-group">
		<div class="col" *ngIf="vehicles">
			<fleet-map [vehicles]="vehicles" [(selected)]="SelectedVehicle"></fleet-map>
		</div>
	</div>
	<div class="row">
		<div class="col" *ngIf="vehicles">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Selected: {{ SelectedVehicle?.id }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" *ngFor="let v of vehicles" (click)="SelectedVehicle = v">{{ v.id }}</a>
				</div>
			</div>
		</div>
		<div class="col">

		</div>
	</div>
</div>

